
@{
    Layout = "~/Views/Shared/_logoutlayout.cshtml";
    ViewBag.Title = "Manage Work Shilf";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Work Shilf</title>
    <link rel="stylesheet" href="~/Content/admincss/menuadim/homepageadmin.css">
    <link rel="stylesheet" href="~/Content/admincss/menuadim/manageall.css">
    <link rel="stylesheet" href="~/Content/admin/2.manager/managerworkshift/2.manageworkshilft.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <!-- html cho phần menu -->
    <div class="navigation open">
        <div class="menuToggle">Manager</div>
        <div class="main-menu">
            <div class="menu-option">
                <ul class="manage showmanage">
                    <li class="list" style="--clr:#f44336;">
                        <a href="@Url.Action("ManagePro","ManagerS")">
                            <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                            <span class="text">Manage Profile</span>
                        </a>
                    </li>
                    <li class="list active" style="--clr:#ffa117;">
                        <a href="@Url.Action("ManageWorkshift","ManagerS")">
                            <span class="icon"><ion-icon name="reader-outline"></ion-icon></span>
                            <span class="text">Manage WorkShift</span>
                        </a>
                    </li>
                    <li class="list" style="--clr:#4f088a;">
                        <a href="@Url.Action("TimeKeeping","ManagerS")">
                            <span class="icon"><ion-icon name="today-outline"></ion-icon></span>
                            <span class="text">TimeKeeping</span>
                        </a>
                    </li>
                    <li class="list " style="--clr:#2196f3;">
                        <a href="@Url.Action("ReportStatis","ManagerS")">
                            <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                            <span class="text">Report Statistics</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end menu -->

    <!-- html cho phần manage Account -->
    <div class="home-main open3">
        <div class="header-content">
            <p>Manage Work Shilf</p>
        </div>
        <div style="padding: 10px;">
            <div>
                <a class="btn btn-primary" href="@Url.Action("CreateShift","ManagerS")">
                    Create shifts
                </a>
                <a class="btn btn-primary" href="@Url.Action("MoreShift","ManagerS")">
                    More shifts
                </a>
                <a class="btn btn-primary " href="">
                    Print Excel File
                </a>
            </div>
        </div>
        <div class="table-food">
            <div class="dataTables_filter">
                <label>
                    Search:
                    <input type="search">
                </label>
                <a class="btn btn-primary " href="">
                    Search
                </a>
            </div>
            <div class="khungtable">
                <table class="table table-bordered table-striped table-hover dataTable no-footer">
                    <thead>
                        <tr class="success">
                            <th class="sorting_asc" style="width: 126px;">
                                Id Staff
                            </th>
                            <th class="sorting" style="width: 68px;">
                                Full name
                            </th>
                            <th class="sorting" style="width: 156px;">
                                Workday
                            </th>
                            <th class="sorting" style="width: 125px;">
                                Working Shift
                            </th>
                            <th class="sorting" style="width: 455px;">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <td>
                        ...
                    </td>
                    <td>
                        ...
                    </td>
                    <td>
                        ...
                    </td>
                    <td>
                        ...
                    </td>
                    <td>
                        <a class="btn btn-warning" href="@Url.Action("Change","ManagerS")">
                            <i class="fa fa-pencil-square-o x5">
                            </i>Change
                        </a>
                        <button class="btn btn-danger">
                            <i class="fa fa-trash-o">
                            </i>Delete
                        </button>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end phần manage Account -->

    <script>

        // script cho phần profile
        let menuToggleprofile = document.querySelector('.menuToggle-profile');
        let navigationprofile = document.querySelector('.navigation-profile')
        menuToggleprofile.onclick = function(){
            navigationprofile.classList.toggle('active')
        }

        // script cho phần option role
        function show(a){
           document.querySelector('.navigation.open .text02').value = a;
        }

        let dropdown = document.querySelector('.dropdown');
        dropdown.onclick = function(){
            dropdown.classList.toggle('dropdownactive');
        }

        //script cho phần đổi menu
        const changeadmin = document.querySelector('.change-option-admin');
        const changemanage = document.querySelector('.change-option-manage');
        const changecheif = document.querySelector('.change-option-cheif');
        const changestaff = document.querySelector('.change-option-staff');
        const admin = document.querySelector('.admin');
        const manage = document.querySelector('.manage');
        const cheif = document.querySelector('.cheif');
        const staff = document.querySelector('.staff');

        changeadmin.onclick = function(){
            admin.classList.add('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.remove('showstaff');
        }
        changemanage.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.add('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.remove('showstaff');
        }
        changecheif.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.add('showcheif');
            staff.classList.remove('showstaff');
        }
        changestaff.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.add('showstaff');
        }

    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
