
@{
    Layout = "~/Views/Shared/_logoutlayout.cshtml";
    ViewBag.Title = "Order";
}
@using FMS.Models
@model List<MENU>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="~/Content/admincss/menuadim/homepageadmin.css">
    <link rel="stylesheet" href="~/Content/admin/3.chef/1.managemenu/1.managemenu.css">
    <link rel="stylesheet" href="~/Content/admin/3.chef/2.managesupplier/2.managespplier.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <!-- html cho phần menu -->
    <div class="navigation open">
        <div class="menuToggle">Staff</div>
        <div class="main-menu">
            <div class="menu-option">
                <ul class="staff showstaff">
                    <li class="list active" style="--clr:#f44336;">
                        <a href="@Url.Action("Order", "StaffS")">
                            <span class="icon"><ion-icon name="reader-outline"></ion-icon></span>
                            <span class="text">Order</span>
                        </a>
                    </li>
                    <li class="list" style="--clr:#ffa117;">
                        <a href="@Url.Action("PersonalPro", "StaffS")">
                            <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                            <span class="text">Personal profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end menu -->

    <!-- html cho phần nội dung -->
    <div class="home-main open3">
        <div class="header-content">
            <p>Order</p>
        </div>
        <hr>
        <div class="table-food">
            <div class="khungtable">
                <div class="content">
                    <p>Menu</p>
                </div>
                <div class="table-monan">
                    <table border="1">
                        <thead>
                            <tr class="success">
                                <td>Image</td>
                                <td>Food ID</td>
                                <td>Food Name</td>
                                <td>Description</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th><img src="~/Content/image/@item.C_Imagefood" alt="" width="10%"></th>
                                    <th>@item.C_Food_id</th>
                                    <th>@item.C_Food_name</th>
                                    <th>@item.C_Description</th>
                                    <th>
                                        <button type="submit" class="btn-delete" style="border: none;">
                                            <a href="@Url.Action("Orderfood","StaffS",new { @id = @item.C_Food_id })"><div class=" btn btn-success">Order</div></a>
                                        </button>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="table-food">
            <div class="khungtable">
                <div class="content">
                    <p>Order</p>
                </div>
                <div class="table-monan">
                    <table border="1">
                        <tr>
                            <td class="td-img"></td>
                            <td class="width-36">Food Name</td>
                            <td class="td-mota">Description</td>
                            <td class="td-mota">Status</td>
                        </tr>

                        <tr>
                            @{
                                db_FMSEntities db = new db_FMSEntities();
                                var ord = db.ORDERS.ToList();

                            }
                            @foreach (var item in ord)
                            {
                                <tr>
                                    @{ 
                                        var menu = db.MENU.ToList();
                                        var id = Session["C_Staff_id"] as String;
                                    }

                                    @{ 
                                        foreach (var mitem in menu)
                                        {
                                            if(item.C_Food_id == mitem.C_Food_id && item.C_Staff_id == id)
                                            {
                                                <th><img src="~/Content/image/" alt="" width="10%"></th>
                                                <th>@mitem.C_Food_name</th>
                                                <th>@mitem.C_Description</th>
                                                <th>
                                                    <button type="submit" class="btn-delete" style="border: none;">
                                                        <a href="@Url.Action("DeleteOrd","StaffS",new { @id = @item.C_Order_id })"><div class=" btn btn-success">Delete</div></a>
                                                    </button>
                                                </th>
                                            }
                                        }
                                    }
                                    

                                    
                                </tr>
                            }
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end nội dung -->

    <script>
        // script cho phần profile
        let menuToggleprofile = document.querySelector('.menuToggle-profile');
        let navigationprofile = document.querySelector('.navigation-profile')
        menuToggleprofile.onclick = function(){
            navigationprofile.classList.toggle('active')
        }

        // script cho phần option role
        function show(a){
           document.querySelector('.navigation.open .text02').value = a;
        }

        let dropdown = document.querySelector('.dropdown');
        dropdown.onclick = function(){
            dropdown.classList.toggle('dropdownactive');
        }

        //script cho phần đổi menu
        const changeadmin = document.querySelector('.change-option-admin');
        const changemanage = document.querySelector('.change-option-manage');
        const changecheif = document.querySelector('.change-option-cheif');
        const changestaff = document.querySelector('.change-option-staff');
        const admin = document.querySelector('.admin');
        const manage = document.querySelector('.manage');
        const cheif = document.querySelector('.cheif');
        const staff = document.querySelector('.staff');

        changeadmin.onclick = function(){
            admin.classList.add('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.remove('showstaff');
        }
        changemanage.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.add('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.remove('showstaff');
        }
        changecheif.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.add('showcheif');
            staff.classList.remove('showstaff');
        }
        changestaff.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.add('showstaff');
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
